
  
  footer .group_1{
    width: 100%;
    max-width: 1200px;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-gap: 50px;
    padding: 45px 0px;
  }
  /* footer .group_1 .box figure{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  } */


.red_social:hover {
    color: yellow;
}
.list{
  list-style-type: none;

}
.list li{
  margin-left: -2rem;
  margin-bottom: 0.35rem;
}