.wrapper {
    overflow: hidden;
    background-color: white;
   
}
.container {
    margin-top: 8rem/* 128px */;
    margin-bottom: 8rem/* 128px */;
    display: flex;
   
    margin-right: auto;
    flex-direction: column;
    padding: 0 1.5rem 0 1.5rem;
    max-width: 72rem;
} 

@media (min-width: 1024px) {
    .container {
        flex-direction: row;
        padding-left: 0px;
        padding-right: 0px;
    }
}

.bannerText {
    background-color: rgb(241, 236, 236);
    padding: 1rem 0.5rem 1rem 0.5rem;
}


@media (min-width:  1024px) {
    .bannerText {
    padding: 4rem 2rem 4rem 2rem;
     height: 80%;
     margin-top: 12rem;
     margin-left: -5rem;
    }
}
@media (min-width: 640px) {
    .container {
        max-width: 640px;
    }
}