.wrapper {
    overflow: hidden;
    /* background-color: white; */
   
}
.wrapper h2{
    font-size: xx-large;
}

.wrapper span{
    color:  #ffbc0d;
}
.container {
    margin-top: 8rem/* 128px */;
    margin-bottom: 8rem/* 128px */;
    display: flex;
    margin: auto;
    flex-direction: column;
    padding: 0 1.5rem 0 1.5rem;
    max-width: 80vw;
} 


.bannerText {
    background-color: rgb(241, 236, 236);
    padding: 1rem 0.5rem 1rem 0.5rem;
    font-size: smaller;
}
.img_banner{
height: 18rem;
/* width: 100%; */
}
.menu_header {

    margin-bottom: 3rem;
  }

@media (min-width: 640px) {
    .container {
       
        max-width: 80vw;
    }
}
@media (min-width: 1024px) {
    .container {
        margin: 1rem 10rem;
        flex-direction: row;
        padding-left: 0px;
        padding-right: 0px;
    }
    .img_banner{
        height: 36rem;
        width: 40rem;
        }
    .bannerText { 
        position: absolute;
        padding: 1rem 2rem 1rem 2rem;
        height: 22rem;
        margin-top: 14rem;
        margin-left: 17rem;
        width: 45rem;
    
    }
}

@media (min-width: 1280px) {
    .bannerText { 
       
        width: 49rem;
        height: 22rem;
    }
    .img_banner{
        height: 36rem;
        width: 50rem;
        }
}
@media (min-width: 1536px) {
    .bannerText { 
        width: 52rem;
        height: 22rem;
    }
}