.wrapper {
  overflow: hidden;
  /* background-color: white; */
}

/* .container {
  color: black;

} */
.menu_header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 5rem;
}
.menu_header  h2{
 font-size: xx-large;
}
.menu_header span{
  color:  #ffbc0d;
}
.item_container {
  display: flex;
  flex-direction: column;
  justify-content:center;
  align-items: center;
  gap: 1rem;
  width: 100%;
  text-transform: uppercase;
}

.item {
  position: relative;
  overflow: hidden;
  width: 80%;
}



.item h5 {
  position: absolute;
  top: -1rem;
  left: 1.5rem;
  font-size: medium;
}
.item:hover h5 {
  opacity: 1;
  --tw-scale-x: 1.1;
  --tw-scale-y: 1.1;
  transform: translate(var(1.1), var(1.1)) rotate(0deg) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(1.1)) scaleY(var(1.1));
  color:  #f5e342;

 
}
.item_gradient {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background-image: linear-gradient(to bottom, var(#111827));

}


@media (min-width: 768px) {
  .container {
    padding-left: 0px;
    padding-right: 0px;
  }
  .menu_header {
    justify-content: space-between;
  }
  .item {
    width: 25%;
  }
  .item h5{
    font-size: x-large;
  }
  .item_container {
    flex-direction: row;

  }
}

