.wrapper {
  overflow: hidden;
  background-color: white;
}

.container {
  color: black;
}
.menu_header {
  display: flex;
  justify-content: center;
  margin-bottom: 5rem;
}
.item_container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 1rem;
  width: 100%;
  margin-top: calc(1.5rem * calc(1 - var(--tw-space-y-reverse)));
  margin-bottom: calc(1.5rem * var(--tw-space-y-reverse));
  text-transform: uppercase;
}

.item {
  position: relative;
  overflow: hidden;
  width: 80%;
}



.item h5 {
  position: absolute;
  bottom: 1rem;
  left: 0.5rem;
  font-size: xx-large;
}
.item:hover h5 {
  --tw-scale-x: 1.1;
  --tw-scale-y: 1.1;
  transform: translate(var(1.1), var(1.1)) rotate(0deg) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(1.1)) scaleY(var(1.1));
  --tw-text-opacity: 1;
  color: rgb(0 0 0 / var(--tw-text-opacity));

 
}
.item_gradient {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background-image: linear-gradient(to bottom, var(#111827));

}


@media (min-width: 768px) {
  .container {
    padding-left: 0px;
    padding-right: 0px;
  }
  .menu_header {
    justify-content: space-between;
  }
  .item {
    width: 25%;
  }
  .item_container {
    flex-direction: row;

  }
}

/* class="hidden w-full duration-200 md:block group-hover:scale-110" */
