
@keyframes fadeIn {
  0% {opacity: 0;}
  100% {opacity: 1;}
} 

@-webkit-keyframes fadeIn {
  0% {opacity: 0;}
  100% {opacity: 1;}
}

.fadeIn {
  -webkit-animation-duration: 0.5s;
  animation-duration: 0.5s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;

  -webkit-animation-name: fadeIn;
  animation-name: fadeIn;
}


.circular-btn {
  border-radius: 30px;
}
.circular-btn-second {
  border-radius: 1px;
  background-color: inherit;
  font-size: large;
  color: #ffbc0d;
  border: 3px solid #ffbc0d;
}

.circular-btn:hover {
  background-color: #606063;
}
.circular-btn-second:hover {
  background-color: #ffbc0d;
  color: white;
}


.summary-card {
  border: 1px solid rgba(0, 0, 0, 0.1);
  box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.2);
}
.rounded-circle{
  border-radius: 50%;
}

.imageWrapper {
  position: relative;
  overflow: hidden;
  transition: transform 0.3s ease-in-out;
}

.imageWrapper:hover {
  transform: scale(1.2); /* Escala de la imagen en el hover */
}

footer{
  width: 100vw;
  background-color: black;
}

.linkActive{
  color: #ffbc0d;
  
}
.group:hover{
  opacity: 0.7;
  --tw-scale-x: 1.1;
  --tw-scale-y: 1.1;
  --tw-gradient-to: #fff var(--tw-gradient-to-position);
  transform: translate(var(--tw-translate-x), var(--tw-translate-y))
    rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y))
    scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
}

.group:hover {
  border-bottom-width: 1px;
}



.group:hover{
  transform: scale(1.02);
}

.paddings {
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
}
@media (min-width: 640px) {
  .paddings {
  padding: 4rem;
  }
}


@media (min-width:   768px){
  .paddings {
  padding-top: 2rem;
  padding-bottom: 2rem;
  }
}